COMPOSE_PROJECT_NAME=facturation-prod

POSTGRES_DB=facturation
POSTGRES_USER=facturation
POSTGRES_PASSWORD=change-me

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=change-me
MINIO_BUCKET=invoice-files

SPRING_PROFILES_ACTIVE=prod
HTTP_PORT=80
OCR_LANGUAGES=fra+eng
VITE_API_BASE_URL=/api
